---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title>{{ site.autor }}</title>
  <link>{{ site.url }}/</link>
  <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
  <description>{{ site.description }}</description>
  <language>pl</language>
  <lastBuildDate>{{ wpisy[0].date | rfc822 }}</lastBuildDate>
  {%- for wpis in wpisy | take(20) %}
  <item>
    <title>{{ wpis.title }}</title>
    <link>{{ wpis.permalink | absUrl(site.url) }}</link>
    <guid isPermaLink="true">{{ wpis.permalink | absUrl(site.url) }}</guid>
    <pubDate>{{ wpis.date | rfc822 }}</pubDate>
    <description>{{ wpis.excerpt or wpis.metaDescription }}</description>
    {%- for kat in wpis.kategorieNowe %}
    <category>{{ kat }}</category>
    {%- endfor %}
  </item>
  {%- endfor %}
</channel>
</rss>
