---
permalink: /feed/index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="pl">
<head>
<meta charset="utf-8">
<meta http-equiv="refresh" content="0; url=/feed.xml">
<link rel="alternate" type="application/rss+xml" title="{{ site.autor }} - RSS" href="/feed.xml">
<link rel="canonical" href="{{ site.url }}/feed.xml">
<meta name="robots" content="noindex">
<title>RSS - {{ site.autor }}</title>
</head>
<body>
<p>Kanał RSS tej strony znajduje się pod adresem: <a href="/feed.xml">{{ site.url }}/feed.xml</a></p>
</body>
</html>
