---
pagination:
  data: przekierowania
  size: 1
  alias: przek
permalink: "{{ przek.od }}"
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="pl">
<head>
<meta charset="utf-8">
<meta http-equiv="refresh" content="0; url={{ przek.do }}">
<link rel="canonical" href="{{ przek.do | absUrl(site.url) }}">
<meta name="robots" content="noindex">
<title>Przekierowanie</title>
</head>
<body>
<p>Ta strona ma nowy adres: <a href="{{ przek.do }}">{{ przek.do }}</a></p>
</body>
</html>
