---
# Reszta danych (layout, permalink, title, opisSEO...) w wpisy-strony.11tydata.js -
# funkcjami, nie stringami szablonu (bezpieczne dla tytułów z "&" albo "{{").
pagination:
  data: wpisy
  size: 1
  alias: wpis
---
{{ wpis.bodyHtml | safe }}
