<div class="disclaimer">
  <div>Treści na tej stronie mają charakter edukacyjny i są moją prywatną opinią. To nie jest porada inwestycyjna. Decyzje finansowe podejmujesz na własną odpowiedzialność.</div>
</div>
