<dialog class="szukaj-modal" id="szukaj-modal" aria-labelledby="szukaj-tytul">
  <div class="szukaj-modal__wnetrze">
    <div class="szukaj-modal__naglowek">
      <h2 id="szukaj-tytul">Szukaj na stronie</h2>
      <button class="szukaj-modal__zamknij" id="szukaj-zamknij" aria-label="Zamknij">&#10005;</button>
    </div>
    <div id="szukaj-pagefind"></div>
    <p class="szukaj-modal__info" id="szukaj-info" hidden>Wyszukiwarka jest dostępna po pełnym buildzie strony (npm run build).</p>
  </div>
</dialog>
